@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Halvetica Neue", Halvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1460px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}

.white {
  color: #fff;
  text-transform: uppercase;
}

.orange {
  color: #FE8A38;
  text-transform: uppercase;
}

.about {
  background: #000;
  min-height: 60px;
}

.about__row {
  display: flex;
  justify-content: space-between;
}

.about__text {
  padding: 20px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
}

.about__logo-wh {
  font-size: 40px;
  font-weight: 700;
}

.about__logo-or {
  font-size: 40px;
  font-weight: 200;
}

.about__menu {
  padding-top: 30px;
  opacity: 0.8;
}
.about__menu .menu__items {
  color: #B0B0B0;
  margin: 0px 50px 0px 0px;
}

.main {
  background: #9A9A9A;
  height: 820px;
}

.main__row {
  display: flex;
  justify-content: space-between;
}

.main__body {
  max-width: 750px;
  padding: 120px 0px 0px 0px;
}

.main__logo {
  margin: 0px 0px 20px 0px;
}

.main__logo-wh {
  font-size: 100px;
  font-weight: 700;
}

.main__logo-or {
  font-size: 100px;
  font-weight: 80;
}

.main__subtitle {
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  margin: 0px 0px 20px 0px;
}
.main__subtitle:after {
  content: "";
  display: block;
  max-width: 100px;
  height: 3px;
  background-color: #fff;
  margin: 40px 0px 40px 5px;
}

.main__text {
  color: #C3C3C3;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 40px 0px;
}

.button {
  display: block;
  padding: 10px 0px 10px 0px;
  width: 250px;
  background-color: #FF9C51;
  color: #fff;
  font-size: 30px;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}
.button:hover {
  background-color: #9A9A9A;
  color: #FF9C51;
  border: 1px solid #FF9C51;
}
.button:active {
  background-color: #E7E7E7;
  color: #FF9C51;
  border: 1px solid #FF9C51;
}

.main__info {
  display: flex;
  margin: 170px 40px 0px 0px;
  max-height: 480px;
  max-width: 400px;
  border-radius: 5px 5px 5px 5px;
}

.main__row-two {
  display: flex;
  flex-direction: column;
}

.main__head {
  background-color: #F6F6F6;
  min-height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.head__one {
  font-size: 20px;
  font-weight: 700;
  align-self: center;
}

.head__two {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  font-weight: 700;
  font-size: 20px;
  align-self: center;
}

.head__three {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  align-self: center;
}

.main__bodyd {
  background-color: #fff;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  font-size: 20px;
  padding: 0px 0px 5px 60px;
}

.main__user {
  opacity: 0.5;
}
.main__user:after {
  content: "";
  display: block;
  height: 2px;
  max-width: 300px;
  background-color: #757575;
  margin: 0px 0px 0px 45px;
  opacity: 0.5;
}

.main__email {
  opacity: 0.5;
}
.main__email:after {
  content: "";
  display: block;
  height: 2px;
  max-width: 300px;
  background-color: #757575;
  margin: 0px 0px 0px 45px;
  opacity: 0.5;
}

.main__password {
  opacity: 0.5;
}
.main__password:after {
  content: "";
  display: block;
  height: 2px;
  max-width: 300px;
  background-color: #757575;
  margin: 0px 0px 0px 45px;
  opacity: 0.5;
}

.main__get {
  justify-content: center;
  background-color: #FF9C51;
  font-size: 20px;
  color: #fff;
  min-height: 60px;
  min-width: 398px;
}
.main__get:hover {
  content: "";
  background-color: #D58344;
}
.main__get:active {
  content: "";
  background-color: #FF9C51;
}

.main-footer {
  background-color: #fff;
  height: 106px;
}

.main-footer__row {
  display: flex;
  justify-content: space-between;
}

.main-footer__body {
  padding: 20px 0px 0px 0px;
}

.main-footer__title {
  font-size: 25px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.main-footer__text {
  max-width: 400px;
  color: #86878B;
  font-size: 15px;
  line-height: 20px;
}

.main-footer__items {
  padding: 35px 0px 20px 300px;
  flex: 1;
}

.items__face {
  margin-right: 60px;
}

.items__tw {
  margin-right: 60px;
  padding-top: 5px;
}

.items__google {
  margin-right: 60px;
}

.items__pint {
  margin-right: 60px;
}

.items__ins {
  margin-right: 60px;
}

.items__fuck {
  margin-right: 60px;
}

.secondary {
  background-color: #F6F6F6;
  height: 820px;
}

.secondary__row {
  display: flex;
}

.secondary__items-row {
  display: flex;
  height: 820px;
  flex-direction: column;
  justify-content: center;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border: 1px solid #D0D0D0;
  border-radius: 10px 10px;
  background-color: #333333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.tab:hover {
  content: "";
  background-color: #FF8B38;
}

.secondary__text-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondary__text {
  display: flex;
  flex-direction: column;
  margin: 200px 150px 0px 150px;
  min-height: 400px;
}

.title {
  font-weight: 700;
  color: #000;
  font-size: 24px;
}

.secondary__title {
  margin: 0px 0px 60px 0px;
}

.secondary__subtitle {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 20px;
  color: #86878B;
}

.subtitle__sbt-one {
  margin: 0px 0px 60px 0px;
}

.secondary__button {
  background-color: #FF8B38;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  max-width: 150px;
  min-height: 50px;
  border: 1px solid #C8C8C8;
  border-radius: 6px;
}
.secondary__button:hover {
  content: "";
  background-color: #F6F6F6;
  color: #FF8B38;
  border: 1px solid #FF8B38;
}
.secondary__button:active {
  content: "";
  background-color: #EAEAEA;
}

.secondary__img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary__img {
  width: 320px;
  height: 300px;
}